$net: #5B709F;
$main: #0F2555;
$text: #e6e6e6;
$hover: #B5C1DC;

* {
	box-sizing: border-box;
}

.net {
	background-color: $net;
}
.confirmed {
	background-color: $main;
}

body{
	margin: 0;
	padding: 0;
  font-family: "niveau-grotesk", sans-serif;
}
#container {
	width: 100%;
	margin: 0;
}
.tar {
  text-align: right;
}

//Sort bar
.sort-launches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  button {
    margin: 0 10px;
    font-size: 1rem;
    padding: 7px 10px 5px 10px;
    border: none;
    background-color: #DFE4E9;
    color: $main;
    border: 1px solid $main;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    &:hover{
      background-color: $main;
      color: #DFE4E9;
    }
  }
}

button.on {
  color: #fff;
  background-color: #0F2555;
}

//Launch Display styles
.launches {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
	.launch {
		display: flex;
		flex-wrap: wrap;
		width: calc(50% - 1rem);
		padding: 0.5rem 1rem;
		margin: 0.5rem;
		color: $text;
		border-radius: 4px;
  		box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19) !important;
  		p {
  			margin: 0.5rem 0;
  		}
  		.top-info {
  			display: flex;
  			justify-content: space-between;
  			width: 100%;
  		}
  		.agency {
  			font-size: 0.8rem;
  			width: 60%;
  		}
  		.webcast {
  			width: 40%;
        &.noVid {
          font-size: 0.8rem;
        }
        a {
          text-decoration: none;
          color: $text;
          &:hover {
            color: $hover;
          }
        }
        a img{
          height: 1rem;
          margin-right: 0.5rem;
        }
  		}
  		h3 {
  			margin: 5px 0;
			padding: 0;
			font-size: 1em;
  		}
  		.rocket {
  			width: 40%;
  		}
  		.mission {
  			width: 60%;
  		}
      .date {
        width: 70%;
      }
      .time {
        width: 30%;
      }
	}
}
