$net: #5B709F;
$main: #0F2555;
$text: #e6e6e6;

* {
	box-sizing: border-box;
}

.net {
	background-color: $net;
}
.confirmed {
	background-color: $main;
}

body{
	margin: 0;
	padding: 0;
}
#container {
	width: 100%;
	margin: 0;
}

.launches {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	.launch {
		display: flex;
		flex-wrap: wrap;
		width: calc(50% - 1rem);
		padding: 0.5rem 1rem;
		margin: 0.5rem;
		color: $text;
		border-radius: 4px;
  		box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19) !important;
  		p {
  			margin: 0.5rem 0;
  		}
  		.top-info {
  			display: flex;
  			justify-content: space-between;
  			width: 100%;
  		}
  		.agency {
  			font-size: 0.8rem;
  			width: 60%;
  		}
  		.webcast {
  			font-size: 0.8rem;
  			width: 40%;
  			text-align: right;
  		}
  		h3 {
  			margin: 5px 0;
			padding: 0;
			font-size: 1em;
  		}
  		.rocket {
  			width: 40%;
  		}
  		.mission {
  			width: 60%;
  			text-align: right;
  		}
	}
}